/*Selector de etiqueta*/
body{
    background-color: red;
}

h4{
    background-color: brown;
}



/*Selectores de clase*/

.title{
    /* em: medida relativa, cantidad de veces del tamaño base*/
    font-size: 3em;
    color: black;
}

.logo{
    width: 200px;
    height: 200px;
}

.cards{
    border: 2px solid black;
    /*Tener el ancho que tu contenido necesita tener*/
    width: fit-content;
    padding: 1em 1em 2em 1em;
    border-radius: 10%;
    /*Tiempo en el que se daran los cambios de pseudo-clases*/
    transition: 1s;
    display: flex;
    flex-direction: column;
    /* La distancia que hay que tener entre elementos */
    gap: 2em;
    /*Define la alineación de los elementos a través del eje horizontal */
    align-items: center;
}
/*Pseudo selector*/
.cards:hover{
    background-color: darkgoldenrod;
}
/*Selectores por id*/

#principal{ 
    /*Medida relativa*/
    font-size: 4.5em;
}

#titulos{
    border: 2px solid black;

    /*Viewport view, es un 65 del ancho de la pantalla en la que esté.*/
    width: 60vw;

    /*Centrar*/
    margin: auto;

    /*Mover su contenido*/
    padding: 3%;
}
/*Flex*/
#cards-container{
    background-color: aquamarine;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid rgb(113, 99, 99);
    border-radius: 15px;
    padding: 2em;
    /*Activa la propieda flex en el contenedor*/
    display: flex;
    /*Define la dirección del flujo de los elementos*/
    flex-direction: row;
    /*Alinea los elementos a través del eje horizontal*/
    justify-content: space-around;
}

