/*Selector de etiqueta*/
body{
    background-color: red;
}

h4{
    background-color: brown;
}



/*Selectores de clase*/

.title{
    /* em: medida relativa, cantidad de veces del tamaño base*/
    font-size: 3em;
    color: black;
}
.logo{
    width: 200px;
}

/*Selectores por id*/

#principal{ 
    /*Medida relativa*/
    font-size: 4.5em;
}

#titulos{
    border: 2px solid black;

    /*Viewport view, es un 65 del ancho de la pantalla en la que esté.*/
    width: 60vw;

    /*Centrar*/
    margin: auto;

    /*Mover su contenido*/
    padding: 3%;
}