body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }


/* CONTAINERS */

#nav_container {
    background-color: red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.5em;
}
#nav_container > ul{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#header_container {
    background-color: green;
}
#cards_container {
    background-color: blue;
}
#section2_container {
    background-color: yellow;
}
#img-desc_container {
    background-color: violet;
}
#desc_container {
    background-color: orange;
}
#footer_container {
    background-color: turquoise;
}

/* CLASES */
.card {
    border: 1px solid black;
}
