body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }


/* CONTAINERS */
/*NAV*/
#nav_container {
    background-color: rgb(158, 158, 158);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 0.5em;
}
#nav_container > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
#nav_container a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
#nav_container img{
    width: 6em; /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; 
}


/*HEADER*/
#header_container {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
#header_container h1{
    color: #f4f4f4;
    font-weight: bold;
    font-size: 2.5em;
}
#header_container p{
    color: #f4f4f4;
}
/*FOOTER*/
#footer_container {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5em;
    margin-top: 1.5em;
}

/* SECTIONS */
.box-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: start;
    padding: 3em;
}

/*CARD ROW*/
.cards-container_row {
    background-color: blue;
    height: 250px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0px 1.5em;
    margin : 1.5em auto;
}
.card_column {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5em;
}
.btn-container_row{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

/*CARD COLUMN*/
.cards-container_column {
    background-color: yellow;
    display: flex;
    flex-direction: column; /* Orientación en columna */
    gap: 20px; /* Espacio entre las tarjetas */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 1200px; /* Ancho máximo del contenedor */
}
.card_row {
    border: 1px solid #ccc; /* Bordes opcionales para las tarjetas */
    display: flex;
    flex-direction: row; /* Coloca el contenido de la tarjeta en fila en pantallas pequeñas */
    overflow: hidden; /* Para evitar que el contenido se salga del borde redondeado */
    padding: 20px; /* Espaciado interno */
    margin: auto 1.5em;
}
.box-img_row img {
    width: 100%; /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen al contenedor, recortando si es necesario */
    margin-bottom: 15px; /* Espacio entre la imagen y el texto */
}
.box-text_row{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
