body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}


/* CONTAINERS */
/*NAV*/
#nav_container {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 0.5em;
}

#nav_container>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#nav_container a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#nav_container img {
    width: 6em;
    /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
}


/*HEADER*/
#header_container {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

#header_container h1 {
    color: #f4f4f4;
    font-weight: bold;
    font-size: 2.5em;
}

#header_container p {
    color: #f4f4f4;
}

/*FOOTER*/
#footer_container {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5em;
    margin-top: 1.5em;
}

/* SECTIONS */
.box-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: start;
    padding: 3em;
}

/*CARD ROW*/
.cards-container_row {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0px 1.5em;
    margin: 1.5em auto;
}

.card_column {
    box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5em;
}

.card_column h3 {
    margin-bottom: 1.5em;
}

.card_column p {
    margin-bottom: 3em;
}

.btn-container_row {
    display: flex;
    gap: 1.5em;
    margin-bottom: 0px;
}

/*CARD COLUMN*/
.cards-container_column {
    background-color: rgb(175, 175, 175);
    display: flex;
    /* Orientación en columna */
    flex-direction: column;
    /* Espacio entre las tarjetas */
    gap: 20px;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.card_row {
    /* Bordes opcionales para las tarjetas */
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.51);
   
    height: 350px;
    display: flex;
    /* Coloca el contenido de la tarjeta en fila en pantallas pequeñas */
    flex-direction: row;
    /* Para evitar que el contenido se salga del borde redondeado */
    overflow: hidden;
    /* Espaciado interno */
    padding: 20px;
    margin: auto 1.5em;
}
.box-img_row{
    width: 50%;
    max-width: 50%;
}

.box-img_row img {
    background: #f4f4f4;
    width: 100%;
    /* La imagen ocupará el 100% del ancho de su contenedor */
    height: 100%;
    /* Mantiene la proporción de la imagen */
    object-fit: fill;
    /* Ajusta la imagen al contenedor, recortando si es necesario */
    margin-bottom: 15px;
    /* Espacio entre la imagen y el texto */
}

.box-text_row {
    width: 100%;
    max-width: 50%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}